@{
    ViewBag.Title = "About";
}
<br />
<br />
<br />
<br />
<div class="about">
    <h1>About Challenge of Champions</h1>


    <h3><strong>Challenge of Champions was created to end the constant arguing and bickering about which hero/heroine or character is the best. After years of extensive research, this application has allowed users to simulate different character battle situations. The app has torn relationships between friends apart, as well as built bonds that will never shatter. We only ask to use Challenge of Champions at your discretion. Case studies have shown our application to trigger diseases such as Chronic Rage Monster Syndrome.  Users may want to consult a doctor before use.</strong></h3>
</div>