@{
    ViewBag.Title = "Contact";
}
<br />
<br />
<br />
<br />
<div class="contact">
    <h1>@ViewBag.Title.</h1>

    <address>
        One Big Dreamer Boulevard<br />
        Topeka, KS 66546<br />
        <abbr>Phone:</abbr>
        1.800.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@champchallenge.com">Support@champchallenge.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@champchallenge.com">Marketing@champchallenge.com</a>
    </address>
</div>